<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand mr-4" href="#">Painel Contábil</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link ml-3" href="#">Lançamentos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ml-3" routerLink="conciliacaodiaria">Conciliação Diária</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ml-3" routerLink="relatoriomensal">Relatório Mensal</a>
                </li>
            </ul>
        </div>
    </div>
</nav>